body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
}

.display {
    grid-column: span 4;
    background-color: #000;
    color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 20px;
    border-radius: 10px;
}

.button {
    background-color: #666;
    color: #fff;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.button.operator {
    background-color: #f90;
}

.button.zero {
    grid-column: span 2;
}

.button:active {
    background-color: #888;
}